@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #F56476;
  color: #E6FDFF;
}

.main {
  background-color: #f894a0;
  width: 60%;
  margin: 3rem auto 0 auto;
  max-width: 1100px;
  min-height: 1000px;
  /* border: .5px solid #e40f29; */
}

.title {
  font-family: 'Titillium Web', sans-serif;
  font-size: 3.5rem;
  background-color: #20c20e;
  color: #031926;
  padding: 2rem;
}

.commands {
  font-family: 'Titillium Web', sans-serif;
  width: 80%;
  margin: 2rem auto 0 auto;
  font-size: 1.7rem;
  color: #031926;
  display: flex;
  flex-direction: column;
}


.commands li {
  font-family: 'Titillium Web', sans-serif;
  list-style-type: none;
  font-style: italic;
  background-color: #F5EE9E;
  margin-top: 1rem;
  align-self: flex-start;
  padding: .5rem;
}


.info-text {
  font-family: 'Titillium Web', sans-serif;
  color: #20c20e;
  background-color: #031926;
  /* margin-bottom: 1rem; */
  padding: 1rem;
}

.footer {
  margin-top: 1rem;
  font-size: 1.5rem;
}

@media only screen and (width <= 414px) {
  .main {
    width: 100%;
    margin: 0 auto;
  }

  .commands {
    width: 90%;
  }

}
